@import url('./../../src/css/main.css');
body {
    background: #ddd;
}



.coco-admin-wrap{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coco-admin-wrap img{
    max-width: 300px;
    margin: 25px 0 5px 0;
    filter: grayscale(1);
    opacity: .4;
}


.coco-admin-wrap h1{
    font-weight: 100;
    font-size: 1.65rem;
    color: rgba(0, 0, 0, .5);
    margin: 20px 0;
}
/*
coco-admin-form
*/

.coco-admin-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 90%;
    background: #fff;
    padding: 20px;
    padding-bottom: 0px;
}

.coco-admin-form label{
    display: block;
    color: #777;
    font-size: 90%;
    padding: 5px 0;
}
.coco-admin-form input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, .05);
    line-height: 36px;
    margin-bottom: 10px;
    padding: 0 12px;
}

.coco-admin-form button{
    padding: 12px 20px;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, .5);
    border-bottom: 4px solid rgba(0, 0, 0, .25);
    color: #fff;
    margin: 10px 0 0px 0;
}
.coco-admin-form button:active{
    margin: 13px 0 0px 0;  
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.coco-admin-infobox{
    padding: 10px;
    width: 100%;
}

.infobox-error{
    margin: 20px 0;
    background: rgb(251, 186, 186);
    color: rgb(186, 70, 70);
}

.infobox-success{
    margin: 0px 0 10px 0;
    background: rgb(202, 251, 186);
    color: rgb(22, 103, 38);
}

.info-txt{
    padding: 0 0 10px 0;
    font-size: 90%;
    color: #777;
}


a.back-to-webpage{
    margin-top: 15px;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    opacity: .4;
}
a.back-to-webpage:hover{
    opacity: 1;
}