@import url('./../../src/css/main.css');
body {
    background: #ddd;
}



.coco-admin-wrap{
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coco-admin-wrap img{
    max-width: 300px;
    margin: 25px 0 5px 0;
    filter: grayscale(1);
    opacity: .4;
}


.coco-admin-wrap h1{
    font-weight: 100;
    font-size: 1.65rem;
    color: rgba(0, 0, 0, .5);
    margin: 20px 0;
}
/*
coco-admin-form
*/

.coco-admin-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    max-width: 90%;
    background: #fff;
    padding: 20px;
    padding-bottom: 0px;
}

.coco-admin-form label{
    display: block;
    color: #777;
    font-size: 90%;
    padding: 5px 0;
}
.coco-admin-form input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, .05);
    line-height: 36px;
    margin-bottom: 10px;
    padding: 0 12px;
}

.coco-admin-form button{
    padding: 12px 20px;
    width: 100%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, .5);
    border-bottom: 4px solid rgba(0, 0, 0, .25);
    color: #fff;
    margin: 10px 0 0px 0;
}
.coco-admin-form button:active{
    margin: 13px 0 0px 0;  
    border-bottom: 1px solid rgba(0, 0, 0, .25);
}

.coco-admin-infobox{
    padding: 10px;
    width: 100%;
}

.infobox-error{
    margin: 20px 0;
    background: rgb(251, 186, 186);
    color: rgb(186, 70, 70);
}

.infobox-success{
    margin: 0px 0 10px 0;
    background: rgb(202, 251, 186);
    color: rgb(22, 103, 38);
}

.info-txt{
    padding: 0 0 10px 0;
    font-size: 90%;
    color: #777;
}


a.back-to-webpage{
    margin-top: 15px;
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
    opacity: .4;
}
a.back-to-webpage:hover{
    opacity: 1;
}



/* DASHBOARD */


.coco-dashboard{
    width: 100%;
}
.dashboard-header{
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.dashboard-logout{
 width: 40px;
 height: 40px;
 background: #eee;
 color: #555;
 border-radius: 50%;
 border: none;
 text-align: center;
 margin: 10px
}

.dashboard-logout:hover{

    font-size: 110%;
}

.greeting{
    line-height: 60px;
    padding: 0 12px;
}




.coco-admin-page{
    display: flex;
    flex-flow: row nowrap;
}


.coco-admin-nav{
    background: #666;
    width: 60px;
    height: 100vh;
    overflow: hidden;
    transition: width .5s;
}

.coco-admin-nav:hover{
    background: #666;
    width: 300px;
    height: 100vh;
    overflow: hidden;
}
.coco-admin-nav-logo{
    width: 60px;
    height: 60px;
}
ul.coco-admin-nav-area{
    margin: 0;
    padding: 0;
    width: 250px;
    background: rgba(0, 0, 0, .25);
    height: calc(100vh - 60px);
}

ul.coco-admin-nav-area li a{
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.15rem;
    width: 100%;
    text-decoration: none;
}

ul.coco-admin-nav-area li a:hover{
    background: rgba(0, 0, 0, .25);
}



ul.coco-admin-nav-area li a .icon{
    height: 40px; min-width: 60px;
    line-height: 40px;
    text-align: center;
color: #fff;
}
ul.coco-admin-nav-area li a .label{
    height: 40px; width: 100%;
    line-height: 40px;
    text-align: left;

    color: #fff;
}

